<html>
    <head>

    <title>{% block title %}Untitled{% endblock %} | Todo list with permissions</title>
</head>
<body>
<div class = "container">
    <div class="alert alert-info">
        <h1>Examen de lenguaje de programacion 2</h1>
            <h2>Bill Edgar Canaza Chani</h2>

        <img src="fc,140x140,creme.u5" class="img-polaroid">

        <span class="input-group-addon"><span class="glyphicon
                glyphicon-globe"></span>Hola Mundo Cruel</span>
    </div>
        <a href="{% url 'logout' %}">Salir</a>

        <a type="button" class="btn btn-info" href="{% url 'app_list' %}">Inicio</a>{% if perms.todo.add_todo %}   
        <a type="button" class="btn btn-info" href="{% url 'app_create' %}">Agregar Usuario</a>{% endif %}

        {% if user.is_authenticated %}
           <p class="navbar-text pull-right">    
               <strong>Usuario {{user.username}}</strong>
               
        <span class="glyphicon glyphicon-user"></span> 
           </p>
           {% endif %} 





    <div class =  "well">         
{% block content %}
The end user should never ever see this!
{% endblock %} 
    </div>
</div>
 
        </div> 
</body>
</html>
