 {% if form.errors %}

        <h1>INTENTE NUEVAMENTE</h1>
        
    {% endif %}
 
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>Usuario :</th><td>{{form.username}}</td>
            </tr>
           
             <tr>
                <th>Contraseña :</th><td>{{form.password}}</td>
            </tr>
        </table>
 
        <input type="submit" value="INGRESAR"/> <input type="hidden" name="next"
                                                    value="{{ next }}"/>
    </form>
